
.container {
        width: 1024px;
        margin: 0 auto;
      }

#main-bio {float: left;
    width: 70%;
    background-color: white;}

#figure {
    position: relative;
  }

#lat-image {float: left;}

#contact-info {
    float: left;
    width:30%;
    background-color: white;
  }


.image_shrink {  width:300px;
    height:300px;}
.vis_box {  width:150px;
        height:150x;}


img {  width: 100%;
  height: auto;}


    body {
        padding: 0;
        margin: 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        line-height: 150%;
        color: #333;
        background: #efeee7;
      }
      
      h1 {
        padding: 20px 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 28px;
        text-align: left;
        color: teal;
      }
      
      h2 {
        font-size: 24px;
        color: teal;
        text-align: center;
      }
      
      h3 {
        padding: 20px 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 28px;
        text-align: center;
        color: teal;
      }
      
      #bio-name {
        position: absolute;
        top: 150px;
        left: 30px;
      }
      

      

      
      #bio-image {
        width: 200px;
        height: 200px;
        margin-right: 20px;
      }
      


      @media (max-width: 480px) {
        #contact-info {
            float: left;
            width:100%
          }
          .vis_box {width:150px;
            height:150x;
        align-self: baseline}

 p1 {word-wrap: break-word}
      }